<br />
<h1 class="text-center">Tea-Coffee Vending Machine</h1>
<br />
<hr />
<nav class="navbar navbar-expand-sm mb-4">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <!--Link to Home (Choose Drink) page-->
      <a class="nav-link" [routerLink]="['/home']">Home</a>
    </li>
    <hr width="1" size="13%" />
    <li class="nav-item">
      <!--Link to Refilling Form page-->
      <a class="nav-link" [routerLink]="['/refill']">Refill</a>
    </li>
    <hr width="1" size="13%" />
    <li class="nav-item">
      <!--Link to Report Options page-->
      <a class="nav-link" [routerLink]="['/report']">Report</a>
    </li>
    <hr width="1" size="13%" />
    <li class="nav-item">
      <!--Link to Container Status page-->
      <a class="nav-link" [routerLink]="['/container-status']">
        Container Status
      </a>
    </li>
  </ul>
</nav>
<hr />
<br />
